{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="mx-auto max-w-8xl">
    <div class="flex justify-center">
        <div class="p-4 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-3">
            {% for company in companies %}
            <a href="{% url 'post_detail' company.slug %}" class="flex max-w-xl flex-col items-start justify-between company-card transition">
                {% if "placeholder" in company.logo.url %}
                <img src="{% static 'images/company-placeholder.jpg' %}" alt="place holder"
                    class="h-full w-full object-cover object-center rounded-t-lg" />
                {% else %}
                <img src="{{ company.logo.url }}" alt="{{ company.company_name }}"
                    class="h-full w-full object-cover object-center rounded-t-lg" />
                {% endif %}
                <div class="p-4">
                    <div class="flex items-center gap-x-4 text-xs">
                        <p><i class="fas fa-map-marker-alt"></i> {{ company.city }}, {{ company.country }}</p>
                    </div>
                    <div class="group relative grow">
                        <h3 class="mt-3 text-lg/6 font-semibold text-white group-hover:text-gray-300">
                            <span class="absolute inset-0"></span>
                            {{ company.company_name }}
                        </h3>
                        <p class="mt-5 line-clamp-3 text-sm/6 text-gray-400">{{ company.description }}</p>
                    </div>
                    <div class="relative mt-8 flex items-center gap-x-4">
                        <img src="{{ company.owner.avatar.url }}" alt="" class="size-10 rounded-full bg-gray-800" />
                        <div class="text-sm/6">
                            <p class="font-semibold text-white">
                                {{ company.owner }}
                            </p>
                            <p class="text-gray-400">{{ company.role }}</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
    <div class="sm:flex sm:flex-1 sm:items-center sm:justify-between mx-4 mb-4 mt-14">
        <div class="hidden lg:block">
            <p>
                Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} results
            </p>
        </div>
        <div>
            <nav aria-label="Pagination" class="inline-flex pages -space-x-px rounded-md shadow-xs dark:shadow-none">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"
                    class="inline-flex items-center rounded-l-md px-2 py-2">
                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5">
                        <path
                            d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
                            clip-rule="evenodd" fill-rule="evenodd" />
                    </svg>
                    Previous
                </a>
                {% endif %}
                {% comment %} Display page numbers dynamically based on the current page {% endcomment %}
                {% for num in page_obj.paginator.page_range %}
                    {% if num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
                        {% if num == page_obj.number %}
                            <a href="#" aria-current="page"
                                class="relative z-10 inline-flex items-center px-4 py-2 current-page">{{ num }}</a>
                        {% else %}
                            <a href="?page={{ num }}"
                                class="relative inline-flex items-center px-4 py-2 ">{{ num }}</a>
                        {% endif %}
                    {% elif num == 1 or num == page_obj.paginator.num_pages %}
                        <a href="?page={{ num }}"
                            class="relative inline-flex items-center px-4 py-2">{{ num }}</a>
                    {% elif num == page_obj.number|add:'-3' or num == page_obj.number|add:'3' %}
                        <span
                            class="relative inline-flex items-center px-4 py-2">...</span>
                    {% endif %}
                {% endfor %}
                    {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"
                    class="relative inline-flex items-center rounded-r-md px-2 py-2">
                    <span>Next</span>
                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5">
                        <path
                            d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                            clip-rule="evenodd" fill-rule="evenodd" />
                    </svg>
                </a>
                {% endif %}
            </nav>
        </div>
    </div>
    {% endif %}

</main>
{% endblock content %}