{% extends "base.html" %} 
{% load i18n %} 
{% load static %}

{% block content %}
<main class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="w-full max-w-sm sm:mx-auto">
    <div class="flex items-center justify-center h-full">
      <i class="fa-solid fa-envelope-open-text text-5xl"></i>
    </div>
    <h1 class="mt-10 text-center text-2xl/9 font-bold tracking-tight">
      Check your email
    </h1>
    <p class="mt-2 text-center text-sm/6 second-text">
      We have sent you an email. If you have not received it please check your
      spam folder. Otherwise contact us if you do not receive it in a few
      minutes.
    </p>
  </div>
</main>
{% endblock %}