{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<!-- This page is build with help from AI -->
<main class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="flex items-center justify-center h-full">
    <i class="fa-solid fa-key text-5xl text-indigo-600 dark:text-lime-300"></i>
  </div>

  <div class="w-full max-w-sm sm:mx-auto">
    <h1 class="mt-10 text-center text-2xl font-bold tracking-tight">
      {% if token_fail %}
        {% trans "Bad Token" %}
      {% else %}
        {% trans "Change Your Password" %}
      {% endif %}
    </h1>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p class="text-center text-sm">
        {% blocktrans %}
        The password reset link is invalid or has already been used. Please 
        <a href="{{ passwd_reset_url }}" class="special font-medium">request a new password reset</a>.
        {% endblocktrans %}
      </p>
    {% else %}
      <form method="POST" action="{{ action_url }}" class="space-y-6">
        {% csrf_token %}
        <div>
          <label for="password1" class="block text-sm font-medium second-text">
            {% trans "New Password" %}
          </label>
          <div class="mt-2">
            {{ form.password1 }}
          </div>
        </div>

        <div>
          <label for="password2" class="block text-sm font-medium second-text">
            {% trans "Confirm New Password" %}
          </label>
          <div class="mt-2">
            {{ form.password2 }}
          </div>
        </div>

        <div>
          <button type="submit" class="flex w-full justify-center my-button">
            {% trans "Change Password" %}
          </button>
        </div>
      </form>
    {% endif %}
  </div>
</main>
{% endblock %}
