{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="flex min-h-screen">
  <!-- Left side (text) -->
  <div class="flex flex-1 flex-col justify-center items-center text-center p-8">
    <p class="text-base special">404</p>
    <h1 class="mt-4 text-5xl font-bold tracking-tight">Lost in Construction</h1>
    <p class="mt-6 text-lg font-medium sm:text-xl/8 second-text">
      The project you’re looking for was never built.
    </p>
    <div class="mt-10 flex justify-center">
      <a href="javascript:history.back()" class="my-button">Head Back</a>
    </div>
  </div>

  <!-- Right side (image) -->
  <div class="hidden lg:block flex-1">
    <img
      src="{% static 'images/design/not-found.jpg' %}"
      alt="Excavator on a construction site"
      class="w-full h-screen object-cover"
    />
  </div>
</main>
{% endblock content %}
