{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="py-6">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
        <div class="grid gap-6 lg:grid-cols-4 md:grid-cols-2">
            <!-- Card 1: Create RFP -->
            <div class="card relative lg:col-span-2">
                <p class="mt-2 text-lg font-medium tracking-tight max-lg:text-center">
                    Create RFP
                </p>
                <p class="mt-2 max-w-lg text-sm/6 max-lg:text-center">
                    Create a project and start a new Request for Proposal for upcoming
                    construction projects.
                </p>
                <img src="https://tailwindcss.com/plus-assets/img/component-images/bento-03-performance.png" alt=""
                    class="w-full max-lg:max-w-xs mt-2" />
            </div>

            <!-- Card 2: Active Projects -->
            <div class="card relative">
                <p class="mt-2 text-lg font-medium tracking-tight max-lg:text-center">
                    Active Projects
                </p>
                <p class="mt-2 max-w-lg text-sm/6 max-lg:text-center">
                    View all your ongoing construction projects in one place.
                </p>
                <img src="https://tailwindcss.com/plus-assets/img/component-images/bento-03-performance.png" alt=""
                    class="w-full max-lg:max-w-xs mt-2" />
            </div>

            <!-- Card 3: Find RFPs -->
            <div class="card relative lg:row-span-2">
                <p class="mt-2 text-lg font-medium tracking-tight max-lg:text-center">
                    Find RFPs
                </p>
                <p class="mt-2 max-w-lg text-sm/6 max-lg:text-center">
                    Browse and bid on new Requests for Proposals from project owners.
                </p>
                <img src="https://tailwindcss.com/plus-assets/img/component-images/bento-03-performance.png" alt=""
                    class="w-full max-lg:max-w-xs mt-2" />
            </div>

            <!-- Card 4: Favorite Subcontractors -->
            <div class="card relative lg:col-span-2 row-span-2">
                <p class="mt-2 text-lg font-medium tracking-tight max-lg:text-center">
                    Favorite Subcontractors
                </p>
                <p class="mt-2 max-w-lg text-sm/6 max-lg:text-center">
                    Track all your favorite subcontractors in one place.
                </p>
                <img src="https://tailwindcss.com/plus-assets/img/component-images/bento-03-performance.png" alt=""
                    class="w-full max-lg:max-w-xs mt-2" />
            </div>

            <!-- Card 5: Active Bidding -->
            <div class="card relative">
                <p class="mt-2 text-lg font-medium tracking-tight max-lg:text-center">
                    Active Bidding
                </p>
                <p class="mt-2 max-w-lg text-sm/6 max-lg:text-center">
                    Browse and review all your active bids on RFPs.
                </p>
                <img src="https://tailwindcss.com/plus-assets/img/component-images/bento-03-performance.png" alt=""
                    class="w-full max-lg:max-w-xs mt-2" />
            </div>

            <!-- Card 6: Total Spend -->
            <div class="card relative">
                <p class="mt-2 text-lg font-medium tracking-tight max-lg:text-center">
                    Total Spend
                </p>
                <p class="mt-2 max-w-lg text-sm/6 max-lg:text-center">$12,345.67</p>
                <img src="https://tailwindcss.com/plus-assets/img/component-images/bento-03-performance.png" alt=""
                    class="w-full max-lg:max-w-xs mt-2" />
            </div>

            <!-- Card 7: Total Earned -->
            <div class="card relative">
                <p class="mt-2 text-lg font-medium tracking-tight max-lg:text-center">
                    Total Earned
                </p>
                <p class="mt-2 max-w-lg text-sm/6 max-lg:text-center">$12,345.67</p>
                <img src="https://tailwindcss.com/plus-assets/img/component-images/bento-03-performance.png" alt=""
                    class="w-full max-lg:max-w-xs mt-2" />
            </div>
        </div>
    </div>
</main>
{% endblock content %}