@import "tailwindcss";

/* Light theme, default */
:root {
  --color-white: #ffffff;
  --color-white-static: #ffffff;
  --color-light-gray: #f9fafb;
  --color-light-gray-static: #f9fafb;
  --color-lighter-gray: #f3f4f6;
  --color-lighter-gray-static: #f3f4f6;
  --color-darker-gray: #e5e7eb;
  --color-darker-gray-static: #e5e7eb;
  --color-dark-gray: #727478;
  --color-special: #ccff33;
  --color-special-original: #92fb92;
  --color-special-2: #9ef01a;
  --text-lime: #70e000;
  --text-lime-2: #38b000;
  --color-lime-darker: #008000;
  --color-lime-dark: #007200;
  --color-lime-darkest: #004b23;
  --color-box-shadow: 0 0 0 3px rgba(204, 255, 51, 0.5);
  --color-dark: #435064;
  --color-dark-static: #435064; /* Static for light theme navbar text */
  --color-darkest: #1f2937;
  --color-darkest-static: #1f2937; /* Static for light theme navbar background */
  --color-darkest-static-50: #1f2937;
  --hover-opacity: 0.75;
  --border-radius: 0.5rem; /* rounded-lg */
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --color-white: #1f2937;
    --color-light-gray: #435064;
    --color-lighter-gray: #576574;
    --color-darker-gray: #e5e7eb;
    --color-dark-gray: #e5e7eb;
    --color-dark: #f9fafb;
    --color-darkest: #ffffff;
    --color-darkest-static-50: rgba(31, 41, 55, 0.8);
  }
}

/* Apply globally */
body {
  background-color: var(--color-light-gray);
  color: var(--color-darkest);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Default navbar background */
nav {
  background-color: var(--color-darkest-static-50);
}

nav a {
  color: var(--color-darker-gray-static);
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition:
    background-color 0.2s,
    color 0.2s;
}
nav a:hover {
  background-color: var(--color-dark-static);
  color: var(--color-white-static);
}

nav .current {
  /* Current: "bg-gray-900 dark:bg-gray-950/50 text-white" */
  background-color: var(--color-dark-static);
  color: var(--color-white-static);
  font-weight: 500;
}

.current-active:hover {
  background-color: var(--color-light-gray);
}

.password-rules {
  background-color: var(--color-white);
}

.light-gray {
  background-color: var(--color-lighter-gray);
}

.lighter-gray {
  background-color: var(--color-light-gray);
}

nav button {
  transition:
    background-color 0.2s,
    opacity 0.2s;
}

nav button:hover {
  opacity: var(--hover-opacity);
  cursor: pointer;
}

.dropdown {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}

.dropdown a {
  color: var(--color-darkest);
  margin: 0.5rem;
  border-radius: var(--border-radius);
}

.mobile-menu {
  color: var(--color-darker-gray-static);
}

.banner a {
  background-color: var(--color-dark);
  color: var(--color-white);
  transition:
    background-color 0.2s,
    opacity 0.2s;
}

.banner a:hover {
  opacity: var(--hover-opacity);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-darkest);
  font-weight: 700;
}

p {
  color: var(--color-darkest);
}

.second-text {
  color: var(--color-dark-gray);
}

.special {
  color: var(--text-lime);
  font-weight: 600;
}

.my-button {
  background-color: var(--color-special);
  color: var(--color-darkest-static);
  padding: 0.625rem 1.75rem; /* py-2.5 px-7 */
  border-radius: 0.375rem; /* rounded-md */
  font-size: 0.875rem; /* text-sm */
  font-weight: 600; /* font-semibold */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
  transition:
    background-color 0.2s,
    opacity 0.2s;
}

button{
  padding: 0.5rem;
}

.my-button:hover {
  opacity: var(--hover-opacity);
  cursor: pointer;
}

button:focus-visible {
  outline: 2px solid var(--color-special);
  outline-offset: 2px;
  border-radius: var(--border-radius);
}

button[aria-expanded="true"] {
  outline: 2px solid var(--color-special);
  outline-offset: 2px;
  border-radius: var(--border-radius);
}

main.hero {
  background-image: url('../images/design/hero-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 93vh;
}

@media (prefers-color-scheme: dark) {
  main.hero {
    background-image: url('../images/design/hero-img-dark.png');
  }
}

.card {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.06);
  padding: 1rem;
  transition: box-shadow 0.2s;
}

.company-card {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.2s;
}

.company-card > img {
  max-height: 200px;
}

.company-card:hover {
  background-color: var( --color-lighter-gray);
}

input, textarea {
  background-color: var(--color-white);
  border: 1px solid var(--color-darker-gray);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
}

input:focus, textarea:focus {
  border-color: var(--color-special);
  box-shadow: var(--color-box-shadow);
  outline: none;
}

.wrong-field {
  border-color: #ef4444; /* red-600 */
}

.wrong-text {
  color: #ef4444; /* red-700 */
}

.wrong-field:focus {
  border-color: #ef4444; /* red-600 */
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.5); /* red-600 */
}

input::placeholder, textarea::placeholder {
  color: var(--color-dark-gray);
}

footer {
  background-color: var(--color-white);
  margin-top: auto;
}

footer a {
  color: var(--color-darkest);
  text-decoration: none;
  transition: color 0.2s;
}

footer a:hover {
  opacity: var(--hover-opacity);
}
